<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/jpg" href="/images/favicon.jpg">

  <title>
    {{ site.title | escape }}{% if page.title %} — {{ page.title | escape }}{% endif %}
  </title>

  <!-- Google -->
	<meta name="description" content="James Shedden is a designer & front end developer based in London.">
	<meta name="keywords" content="James, Shedden, web design, web development, dev, design, web, website, designer, developer, music, musician, illustration, illustrator, animation, animator, songwriting, guitar, bass, vocals, production, BL00 John, Donald Patrick, Chooseday" />

	<!-- Facebook -->
	<meta property="og:title" content="James Shedden" />
	<meta property="og:url" content="http://www.james.sh" />
	<meta property="og:description" content="James Shedden is a designer & front end developer based in London." />
	<meta property="og:image" content="http://james.sh/images/og_full.jpg"/>
	<meta property="og:image" content="http://james.sh/images/og_square.jpg"/>

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@jamesshedden" />
	<meta name="twitter:title" content="James Shedden" />
	<meta name="twitter:description" content="James Shedden is a designer & front end developer based in London." />
	<meta name="twitter:image" content="http://james.sh/images/og_full.jpg" />

  {% if site.safe == 'true' %}
    <link rel="stylesheet" href="{{ site.url }}/assets/main.css">
  {% else %}
    {% stylesheet main %}
  {% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
