.content {
  padding: 5px 0;
  background: white;
  width: 50%;
  margin-left: 50%;
  overflow: auto;
}

.content--post {
  padding: 25px;
  padding-left: 170px;
  margin-left: 0;
  width: 100%;
}

@media (max-width: 1200px) {
  .content,
  .content--post {
    width: 100%;
    margin-left: 0;
    flex: none;
    display: block;
    height: auto;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .content--post {
    padding: 50px 25px;
    text-align: center;
  }
}
