.content {
  padding: 5px 0;
  overflow-y: scroll;
  background: white;
  flex: 1 0 0;
}

.content--post {
  padding: 25px;
  padding-left: 170px;
}

@media (max-width: 1200px) {
  .content,
  .content--post {
    flex: none;
    display: block;
    height: auto;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .content--post {
    padding: 50px 25px;
    text-align: center;
  }
}
