.site {
  // display: flex;
  // flex-direction: row;
  min-height: 100vh;
  width: 100%;
  background: white;
  overflow: auto;
  transform: translateX(0);
  transition: 0.2s transform $animation-curve;
  border: 20px solid $green;
}

.site.is-open {
  transform: translateX(-25%);
}

@media (max-width: 1200px) {
  .site {
    flex-direction: column;
  }

  .site.is-open {
    transform: translateX(-50%);
  }
}

@media (max-width: 610px) {
  .site.is-open {
    transform: translateX(-100%);
  }
}
