.tile {
  float: left;
  width: 50%;
  padding: 5px 10px 5px 0;
  height: auto;
  font-size: 0;
  display: block;
  float: left;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .tile {
    padding: 0 10px 10px 0;
  }
}

@media (max-width: 610px) {
  .tile {
    width: 100%;
  }
}

.tile__wrapper {
  position: relative;
}

.tile img {
  width: 100%;
  height: auto;
}

.tile__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $red;
  left: 0;
  top: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile__overlay--category {
  opacity: 1;
  background: $green;
}

.tile__wrapper:hover .tile__overlay {
  opacity: 1;
}

.tile__overlay-text {
  flex: 1 1 auto;
  color: white;
  font-size: 22px;
  text-align: center;
}

.tile__divider {
  margin: 10px 0;
  display: inline-block;
}
