.wrapper {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
  font-family: "GT Walsheim";
  // border: 20px solid $green;
  // background: $green;
}
