---
layout: default
---

<div class="tile">
  <div class="tile__wrapper">
    <img src="/images/placeholder.gif">
    <div class="tile__overlay tile__overlay--category">
      <div class="tile__overlay-text">
        {{ page.category | capitalize }}<br>

        <a href="/" class="tile__overlay-home-link u-link-accent u-text-accent">&larr; Home</a>
      </div>
    </div>
  </div>
</div>

{% for post in site.categories.[page.category] %}
  <a class="tile"
  href="{{ post.url }}">
    <div class="tile__wrapper">
      <img src="{{ post.thumbnail }}">
      <div class="tile__overlay">
        <div class="tile__overlay-text">
          {{ post.title }}<br>
          <span class="tile__divider">—</span><br>
          {{ post.client }}
        </div>
      </div>
    </div>
  </a>
{% endfor %}
